.form{
    width: 300px;
    margin: 200px auto;
}
form input, form button{
    width: 100%;
    margin-top: 10px;
    height: 25px;
    border-radius: 10px;
}
form button{
    height: 30px;
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(255,255,255,0.7));
}
ul{
    display: flex;
    gap: 30px;
}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
}